@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "RobotoLight";
    src: url("../fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: "RobotoReg";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

:root {
    --whitestblue: #ebfffe;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "RobotoReg";
    background-color: var(--whitestblue);
    color: black;
    min-height: 100%;
    padding-bottom: 30rem;
    box-sizing: inherit;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.profileHeaders {
    font-family: 'robotoBold';
    margin-bottom: .2rem;
    font-size: 1.13rem;
}

.gridSection {
    min-height: 100vh;
    margin-top: 3rem;
}

.gridFeed {
    min-height: 100vh;
}

.placeholderImage {
    width: 250px;
    height: auto;
}

.postImage {
    height: 150px;
    width: auto;
}

.bold {
    font-family: 'RobotoBold';
}

.xbutton {
    padding-top: 4px;
    padding-right: 6px;
    padding-left: 6px;
}

/* Modal styling */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40rem;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .blur {
    filter: blur(5px);
  }  


/* Styling to keep footer on bottom and not compromise main content */
@media screen and (max-width: 1024px )  {
    body {
        padding-bottom: 40rem;
    }
}

@media screen and (max-width: 640px )  {
    body {
        padding-bottom: 60rem;
    }
}

@media screen and (max-width: 270px )  {
    body {
        padding-bottom: 70rem;
    }
}