@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "RobotoLight";
    src: url("../fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: "RobotoReg";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

:root {
    --whitestblue: #ebfffe;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "RobotoReg";
    color: black;
    min-height: 100%;
    padding-bottom: 25rem;
    box-sizing: inherit;
    background-color: var(--whitestblue);
    animation-name: fade-in;
    animation-duration: 1.3s;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.profileHeaders {
    font-family: 'robotoBold';
    margin-bottom: .2rem;
    font-size: 1.13rem;
}

.gridSection {
    min-height: 100vh;
    margin-top: 3rem;
}

.gridFeed {
    min-height: 100vh;
}

.text-onehalfxl {
    font-size: 1.3rem;
}

.placeholderImage {
    width: 250px;
    height: auto;
}

.postImage {
    height: 150px;
    width: auto;
}

.bold {
    font-family: 'RobotoBold';
}

.xbutton {
    padding-top: 4px;
    padding-right: 6px;
    padding-left: 6px;
}

/* Modal styling */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40rem;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .form-control {
    width: 27rem;
    padding: .5rem;
    margin-right: 1rem;
  }

  .textarea-form {
    height: 6.7rem;
  }

  .textarea-education {
    height: 23.3rem;
  }
  
  .blur {
    filter: blur(5px);
  }  

/* creates a nice transition when the page is loaded or refreshed */
@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Styling to keep footer on bottom and not compromise main content */
@media screen and (max-width: 1076px )  {
    .form-control {
        width: 25rem;
      }
}

@media screen and (max-width: 1024px )  {
    body {
        padding-bottom: 30rem;
    }
}

@media screen and (max-width: 930px) {
    .resume-flex {
        flex-direction: column;
    }

    .resumeExperience {
        margin-left: 2rem;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 640px )  {
    body {
        padding-bottom: 50rem;
    }
}

@media screen and (max-width: 575px) {
    .form-control {
        width: 22rem;
    }
}

@media screen and (max-width: 415px) {
    .form-control {
        width: 17rem;
    }
}

@media screen and (max-width: 391px) {
    .form-control {
        width: 15.5rem;
    }
}

@media screen and (max-width: 376px) {
    .form-control {
        width: 14.5rem;
    }
}

@media screen and (max-width: 362px) {
    .form-control {
        width: 14rem;
    }
}

@media screen and (max-width: 334px) {
    .form-control {
        width: 10rem;
      }
}

@media screen and (max-width: 253px) {
    .form-control {
        width: 5rem;
      }
}

@media screen and (max-width: 270px )  {
    body {
        padding-bottom: 60rem;
    }
}